a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    }

.btn{
    display: inline-block;
    background: #ff793b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.noline{
    text-decoration-line: none;  
}

.tableaubg{
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg');
    background-position: top right;
    background-size: 100%
}

.genbg{
    background-color: antiquewhite
}

.headerr {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.subheader {
    float: right;
}

.common {
    border: 2px solid white;
    position: absolute;
}

.picture {
  margin-left: 1rem;
  margin-bottom: 1rem;
}


/*
a:visited{
    color: blue;
}
*/

.better{
    font-family: tahoma, sans-serif;
}

.gray{
    color: gray;
}

.different{
    font-family: lucida, monospace;
}


.resumelistheading{
    font-weight: bold;
    font-style: normal;
}
.bumbum{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
