a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.btn{
    display: flex;
    justify-content: center;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    transition: background 0.1s;
}
.btn:hover{
    background: #644545;
}
.btn img{
    width: 100%;
}
.noline{
    text-decoration-line: none;  
}

.tableaubg{
    background-image: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk2MC1uaW5nLTMwLmpwZw.jpg');
    background-position: top right;
    background-size: 100%
}

.genbg{
    background-color: antiquewhite
}

.headerr {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.subheader {
    float: right;
}

.common {
    border: 2px solid white;
    position: absolute;
}

.picture {
  margin-left: 1rem;
  margin-bottom: 1rem;
}


/*
a:visited{
    color: blue;
}
*/

.better{
    font-family: tahoma, sans-serif;
}

.gray{
    color: gray;
}

.different{
    font-family: lucida, monospace;
}


.resumelistheading{
    font-weight: bold;
    font-style: normal;
}
/* --------custom-------- */
.bumbum{
    display: block;
    margin-left: none;
    margin-right: none;
    text-align: center;
}
.bumbum img{
    width: 100%;
}
hr.boob{
    max-width: 1000px;
    margin: auto;
    height: 1px;
}
.profile{
    margin: auto;
}
.profile img{
    width: 500px;
    margin-top: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 65px;
    z-index: 2;
    border-bottom: solid 50px #000000;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.profile-description{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* ---------youtube tutorial--------- */
.categories{
    margin: 70px 0;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
small{
    color: #555;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* media query for less then 600 screen size */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }

}
/* ----------cart item details----------- */

.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.cart-info p,
.cart-info small {
  margin: 0;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80ps;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
input[type="number"] {
    width: 40px; /* Set an initial width */
}
.subtotal-header{
    text-align: right;
}
.product-info {
    display: flex;
    align-items: center;
}
.checkout-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}